:root {
    --white-color: #FAF8FF;
    --black-color: #000;
    --dark-color: rgb(72, 85, 91);
    --accent-color: rgb(187, 19, 62);
    --border-color: rgba(83, 96, 105, 0.19);
    --accent-color-second: rgb(0,39,100);
}
